<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Posts</title>
    <link rel="stylesheet" href="style.css" />
  </head>
  <body>
    <h1>Quara Posts</h1>
    <% for(post of posts) { %>
    <div class="post">
      <h3>@<%=post.username%></h3>
      <h4><%=post.content%></h4>
      <button name="button">
        <a href="http://localhost:5000/posts/<%=post.id %>">See Details</a>
      </button>
      <button name="button">
        <a href="http://localhost:5000/posts/<%=post.id %>/edit">Edits</a>
      </button>
      <br />
      <br />
      <form method="post" action="/posts/<%= post.id %>?_method=DELETE">
        <button type="submit">Delete Post</button>
      </form>
    </div>
    <% } %>
    <br />
    <br />
    <a href="http://localhost:5000/posts/new">Create New Post</a>
  </body>
</html>
